#contact
	.text_section
		p.center <strong>Ready to get started?</strong>
		p.center Complete the following form to get in touch.

		form.contact-form.ajax-form.grid
			input(type="hidden" name="action" value="enquiries")
			fieldset.contact-fs.contact-fs--details.grid
			
				.contact-field.clearfix
					label(for="field-name") Full name
					span.req(title="required") *
					input#field-name(type="text" size="30" name="name" required)
				
				.contact-field.clearfix
					label(for="field-org") Organisation
					span.req(title="required") *
					input#field(type="text" size="30" name="org" required)
				
				.contact-field.clearfix
					label(for="field-email") Email
					span.req(title="required") *
					input#field(type="email" size="30" name="email" required)
				
				.contact-field.clearfix
					label(for="field-phone") Phone
					span.req(title="required") *
					input#field(type="text" size="15" name="phone" required)
				
				.contact-errors.ajax-errors.hidden.unit.tab-1-2
				p.contact-fail.ajax-fail.hidden.unit.tab-1-2 Something went wrong. If the problem persists, please <a href="tel:0396618700">give us a call</a> or send your request directly to <a href="mailto:enquiries@eworks.edu.au">enquiries@eworks.edu.au</a>.
			
			fieldset.contact-fs.contact-fs--comments
				.contact-field.clearfix
					label Please provide us with details regarding your request in the box below.
					textarea.contact-textarea.box(name="comments" cols="50" rows="5")
				
				.contact-field.contact-field--how.clearfix
					label(for="field-how") How did you find out about us?
					input#field-how(type="text" size="50" name="how")
			
			.contact-submit.button.catchy
				button.contact-submit-btn(type="submit") Submit
				img.contact-spinner.ajax-spinner.hidden(src="/images/preloader--small--gray.gif" width="30" height="30" alt="")
		
		#thank_you.ajax-success.hidden
			p <strong>Thank you for contacting us!</strong>
			p A confirmation message is being sent to your email address.

block footer-scripts
	script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js")
	script(src="/js/ajax-loader.js?20150319")
	script(src="/js/contact.js?20150429")