extends layout

block variables
	- var page_title = "Chris Dunkley Design"

block header

block content

	header
		img.logo(src="img/logo.png" width="136px" height="99px")
	
	section#main
		h1 CHRIS DUNKLEY

		section#details
			p.big-text My name is Chris Dunkley. I'm a <strong>multidisciplinary designer</strong> based in <strong>Melbourne, Australia</strong>.

			p.spacer I specialise in
			ul.skills
				li Web design + development
				li Graphic design
				li Video editing

		section#elsewhere
			h2 Find me elsewhere

			ul.links
				li: a.icon-linkedin(href="https://www.linkedin.com/in/chrisjdunkley" alt="Linkedin") Linkedin
				li: a.icon-twitter(href="http://www.twitter.com/ChrisDunkley" alt="Twitter") Twitter
				li: a.icon-behance(href="http://www.behance.net/ChrisDunkley" alt="Behance") Behance
		
		section#contact
			h2 Get in touch

			.contact 
				p The best way to contact me is via

				ul.contact-details
					li: a(href="mailto:contact@chrisdunkley.net") Email
					li: p or
					li: a(href="https://www.linkedin.com/in/chrisjdunkley") Linkedin

	footer
		p.small-text Website created by Chris Dunkley