$text-main: #5E5E5E;
$text-header: #8C8C8C;

$font-header: 'Comfortaa', cursive;

$bg-primary: #DEDEDB;
$bg-secondary: #fff;
$bg-header: #F4B448;
$bg-footer: #F4B448;


$bg-btn-normal: #fff;
$bg-btn-hover: #83CBDB;