@import "assets/css/settings";

body {	
	background-color: $bg-primary;
	color: $text-main;
	font-family: "Helvetica Neue", Arial, sans-serif;
	padding: 0;
	margin: 0;
}

header {
	background-color: $bg-header;
	min-height: 10rem
}

footer {
	text-align: center;
}

.logo {
	margin: 0 auto;
	display: block;
	top: 72px;
	position: relative;
}

h1 {
	font-weight: normal;
	margin-top: 3rem;
	font-family: $font-header;
	letter-spacing: 4px;
}

h2 {
	font-family: $font-header;
	color: $text-header;
	margin-bottom: 3rem;
	font-size: 120%;
}


section {
	margin: 0 auto;
	max-width: 800px;
	text-align: center;
}

#details,
#elsewhere,
#contact {
	padding: 3rem 1rem;
}

.skills {
	padding: 0;
	text-align: center;

	li {
		display: inline-block;
		background-color: $bg-secondary;
		text-align: center;
		padding: 1rem 2rem;
		margin: 1px 1px 0px 0px;
		border-radius: 2px;
		font-size: 105%;

		&:last-child {
			margin-right: 0;
		}

	}
}

.links {
	padding: 0;
	text-align: center;

	li {
		display: inline-block;
		height: 80px;
		width: 80px;
		margin-right: 1px;


		&:last-child {
			margin-right: 0;
		}
	}

	a {
		display: inline-block;
		height: 100%;
		width: 100%;
		overflow: hidden;
		text-indent: -9999px;
		border-radius: 2px;
		background-position: left top;
		background-size: 80px 80px;
		background-repeat: no-repeat;
		background-color: $bg-btn-normal;

		&:hover {
			background-color: $bg-btn-hover;
		}
	}
}

.contact-details {
	padding: 0;
	text-align: center;

	li {
		display: inline-block;
		text-align: center;
		margin: 1px 1px 0px 0px;

			p, a {
				
				padding: 1rem 2rem;
				border-radius: 2px;
				font-size: 105%;
				margin: 0;
			}

			a {
				background-color: $bg-secondary;
				text-decoration: none;
				color: $text-main;

				&:hover {
					background-color: $bg-btn-hover;

					text-decoration: underline;
				}
			}

		&:last-child {
			margin-right: 0;
		}
	}
}

.icon-linkedin { background-image: url("../img/icon-linkedin.png"); }
.icon-twitter { background-image: url("../img/icon-twitter.png"); }
.icon-behance { background-image: url("../img/icon-behance.png"); }


/* Helpers */

.hide {
	display: none;
}

.big-text {
	font-size: 120%;
}

.small-text {
	font-size: 80%;
}

.spacer {
	padding-top: 3rem;
}

.hidden {
	display: none;
}