html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		block head

	body
		.parallax
			.parallax-group
				.layer
				.layer
				.layer
				.layer
				.layer
				.layer.fill

			.content
				block content

		include _footer